// Light
$main : #3D7EC1;
$secondary : #F4F7FB;
$border : #DEE3E2;
$background : #ECEFF9;
$white : #FBFCFE;
$inputs : #EEF1F1;
$icons : #4d5b8f;
$primaryf : #050F0D;
$secondaryf : #35413E;
$errorBg : #F7E8F1;
$successBg : #E0F5E6;
// Fonts
$third : #6E7775;
$placeholder : #B9C6C3;
$light : #e9efff;




















// Dark